img{
    border-radius: 100%;
    width: 200px;

}
.social-logo img{
    width: 78px;
    height: 80px;
}

.social-logo-insta img{
    width: 150px;
    height: 80px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3e3e3e;
    color: #ececec;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ececec;
    margin-inline-start: auto;
}

h2 {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.skills {
    margin-top: 10px;
}
